html(lang="es-CL" dir="ltr" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" heightfull)
  head
    title Valoraciones. MAD Cognitiva
    
    include ../../includes/meta.pug
    script(src="https://www.gstatic.com/charts/loader.js")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")

  body.no-scroll(heightfull)
  
    #wrapper(heightfull)
      .f-row(heightfull)
        
        include ../../includes/menu.pug

        .f-col.content(padding heightfull)
          
          include ../../includes/user.pug
          
          .row
            .col-md-12
              h1.title-page Valoraciones

              .container-tabs

                ul#tabs.nav.nav-tabs(role="tablist")
                  li.active(role="presentation")
                    a(href="#last-days" aria-controls="last-days" role="tab" data-toggle="tab")
                      span Últimos 30 días
                  li(role="presentation")
                    a(href="#by-range" aria-controls="by-range" role="tab" data-toggle="tab")
                      span Por rango

                .tab-content.has-title
                  #last-days.tab-pane.fade.in.active(role="tabpanel")
                    .scroll
                      .row
                        .col-md-12
                          form(onsubmit="event.preventDefault()")
                            .row
                              .col-md-3
                                fieldset
                                  .form-group
                                    .input-group.date
                                      input.date-picker-days#last30(type="text", data-date-end-date="0d", name="last30", placeholder="Seleccione",autocomplete="off")
                                      span.input-group-addon
                                        i.fa.fa-calendar(aria-hidden="true")
                              .col-md-3
                                button.btn(button, onclick="getDateInput('last30', 'valoraciones', 'last-days', 'chart_div')") Filtrar
                        .col-md-12
                          .inner.clearfix
                            h5 Valoraciones <b>últimos 30 días</b> <span></span>
                            #chart_div

                            a.download-cvs(pull-right)
                              | Descargar CSV
                              i.fa.fa-file-excel-o(aria-hidden="true")
                        .col-md-12
                          .inner
                            h5 Detalle de valoraciones
                            .valoracion-holder
                              form
                                fieldset
                                  select#filter-valoraciones.filter-select.tab-last-30
                                    option(value="1") 1 estrellas
                                    option(value="2") 2 estrellas
                                    option(value="3") 3 estrellas
                                    option(value="4") 4 estrellas
                                    option(value="5") 5 estrellas
                              #table-valoraciones
                              .text-right
                                a#det-valoraciones.download-cvs
                                  | Descargar CSV
                                  i.fa.fa-file-excel-o(aria-hidden="true")

                  #by-range.tab-pane.fade(role="tabpanel")
                    .scroll
                      .row
                        .col-md-12
                          form(onsubmit="event.preventDefault()")
                            .row
                              .col-md-3
                                fieldset
                                  .form-group
                                    .input-group.date
                                      input.date-picker-days#desde(type="text", data-date-end-date="0d", name="", placeholder="Seleccione desde",autocomplete="off")
                                      span.input-group-addon
                                        i.fa.fa-calendar(aria-hidden="true")
                              .col-md-3
                                fieldset
                                  .form-group
                                    .input-group.date
                                      input.date-picker-days#hasta(type="text", data-date-end-date="0d", name="", placeholder="Seleccione hasta",autocomplete="off")
                                      span.input-group-addon
                                        i.fa.fa-calendar(aria-hidden="true")
                              .col-md-3
                                button.btn(button, onclick="getDateInput('desde', 'valoraciones', 'by-range', 'chart_by_range')") Filtrar
                        .col-md-12
                          .inner.clearfix
                            h5 Valoraciones <b>entre fechas</b>
                            #chart_by_range
                            a.download-cvs(pull-right)
                              | Descargar CSV
                              i.fa.fa-file-excel-o(aria-hidden="true")
                        .col-md-12
                          .inner
                            h5 Detalle de valoraciones
                            .valoracion-holder
                              form
                                fieldset
                                  select#filter-valoraciones-range.filter-select.tab-last-30
                                    option(value="1") 1 estrellas
                                    option(value="2") 2 estrellas
                                    option(value="3") 3 estrellas
                                    option(value="4") 4 estrellas
                                    option(value="5") 5 estrellas
                              #table-valoraciones-range
                              .text-right
                                a#det-valoraciones-range.download-cvs
                                  | Descargar CSV
                                  i.fa.fa-file-excel-o(aria-hidden="true")

    include ../../includes/modal.pug
    include ../../includes/modal-script.pug

    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(type="text/javascript" src= myPath+'/assets/js/bootstrap.min.js')
    script(type="text/javascript" src= myPath+'/assets/js/bootstrap-datepicker.js')
    script(type="text/javascript" src= myPath+'/assets/js/date.js')
    script(type="text/javascript" src= myPath+'/assets/js/crypto-js.min.js')
    script(type="text/javascript" src= myPath+'/assets/js/main.js')

    script.
      var d = new Date();
      var e = new Date();
          f = e.setDate(e.getDate() - 30);
          g = new Date(f);

          transversalData = {
            startDate: g.toISOString().substring(0,10),
            endDate: d.toISOString().substring(0,10)
          }

      var month = new Array();
      month[0] = "Enero";
      month[1] = "Febrero";
      month[2] = "Marzo";
      month[3] = "Abril";
      month[4] = "Mayo";
      month[5] = "Junio";
      month[6] = "Julio";
      month[7] = "Agosto";
      month[8] = "Septiembre";
      month[9] = "Octubre";
      month[10] = "Noviembre";
      month[11] = "Diciembre";
      var n = month[d.getMonth()];
      var getSession = user.user_id,
        getTkn = user.tkn;
      
      function getDateInput(input, type, tab, chartName){

        var getInputVal   = document.getElementById(input).value,
            getDesde      = document.getElementById('desde').value,
            getHasta      = document.getElementById('hasta').value,
            desdeDate     = new Date(getDesde),
            hastaDate     = new Date(getHasta),
            getDate       = new Date(getInputVal),
            dateStart     = '',
            dateEnd       = '',
            getInputEnd   = document.getElementById('hasta').value;

        var getMonth      = getDate.getMonth(),
            getYear       = getDate.getFullYear();

        var lastDay       = new Date(getYear, getMonth + 1, 0),
            formatDate    = getDate.setDate(getDate.getDate() - 30),
            getDateFormat = new Date(formatDate),
            getDateFormat = getDateFormat.toISOString().substring(0,10);

        var myResponse    = '';

        if(tab == 'last-days'){
          transversalData.startDate = getDateFormat;
          transversalData.endDate = getInputVal;
          dateEnd = getInputVal;
          dateStart = getDateFormat;
          getInteractions(type, dateStart, dateEnd, getSession, chartName);
          getValoraciones(transversalData.startDate, transversalData.endDate, $('#filter-valoraciones').val());
        } else {
          if(desdeDate >= hastaDate) {
            $('#desde, #hasta').addClass('error');
            $('#desde, #hasta').parent().find('.input-group-addon').addClass('error');  
          } else {
            $('#desde, #hasta').removeClass('error');
            $('#desde, #hasta').parent().find('.input-group-addon').removeClass('error');
            transversalData.startDate = getDesde;
            transversalData.endDate = getHasta;
            dateEnd = getHasta;
            dateStart = getDesde;
            getInteractions(type, dateStart, dateEnd, getSession, chartName);
            getValoracionesRange(transversalData.startDate, transversalData.endDate, $('#filter-valoraciones-range').val());
          }
        }
        return false;
      }

      $('.date-picker-days').datepicker({
        language: 'es',
        minViewMode: 'days'
      });

      function getInteractions(tipo, fechaIni, fechaFin, id, divId){
        $('#' + divId).html('<div class="spinner"><div class="loader"></div></div>');
        
        var promise = $.ajax({
          type: 'POST',
          url: getPath+'mant/filtros',
          data:  JSON.stringify(
            {
              tipo: tipo,
              inicio: fechaIni,
              fin: fechaFin,
              id_cliente: id
            }
          ),
          headers: {
            "Content-Type": "application/json",
            "Authorization": "Bearer "+getTkn,
            "Cache-Control": "no-cache",
          },
          dataType: 'json',
          contentType: 'application/json; charset=utf-8'
        }).done(function(response){
          if(response.mes == undefined || (response.mes[0].cantidad == null && response.mes[1].cantidad == null && response.mes[2].cantidad == null && response.mes[3].cantidad == null && response.mes[4].cantidad == null)){
            $('#'+divId).html('<p>No se ha encontrado información</p>');
            return false;
          }

          createCSV(response.csv, 'valoraciones');
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['', ''],
              ['5 estrellas', response.mes[4].cantidad],
              ['4 estrellas', response.mes[3].cantidad],
              ['3 estrellas', response.mes[2].cantidad],
              ['2 estrellas', response.mes[1].cantidad],
              ['1 estrellas', response.mes[0].cantidad]
            ]);
            var options = {
              pieStartAngle: 90,
              height: 280,
              hAxis: {
                textStyle: {
                  fontName: 'Roboto',
                  bold: true
                },
                title: '',
                titleTextStyle: {
                  color: '#f00'
                },
                minValue: 1,
                gridlines: {
                  color: 'none'
                }
              },
              vAxis: {
                minValue: 0,
                textStyle: {
                  fontName: 'Roboto',
                  bold: true
                }
              },
              chartArea:{
                left: '5%',
                top: '5%',
                width: '93%',
                height: '75%'
              },
              crosshair: {
                focused: {
                  color: '#3bc',
                  opacity: 0.8
                }
              },
              legend: {
                textStyle: {
                  fontName: 'Roboto',
                  bold: true
                }
              },
              pointSize: 9,
              tooltip: {
                trigger: 'none'
              },
              colors:['#e7b81d','#001e37','#b4b8ba','#009dc3','#1c75bc'],
              areaOpacity: .85,
              backgroundColor: {
                fill:'transparent'
              },
              chartArea: {
                height: 160
              },
              pieSliceText: 'value'
            };
            var chart = new google.visualization.PieChart(document.getElementById(divId));
            chart.draw(data, options);
          }

          $('#' + divId).find('.spinner').remove();
        })
      }

      function getValoraciones(startDate, endDate, value){
        var $container = $('#table-valoraciones');

        $container.html('<div class="spinner"><div class="loader"></div></div>');

        var promise = $.ajax({
          type: 'POST',
          url: getPath+'mant/valoraciones',
          headers: {
            "Content-Type": "application/json",
            "Authorization": "Bearer "+getTkn,
            "Cache-Control": "no-cache",
          },
          data:  JSON.stringify(
            {
              inicio: startDate,
              fin: endDate,
              valor: value,
              id_cliente: getSession
            }
          ),
          dataType: 'json',
          contentType: 'application/json; charset=utf-8'
        }).done(function(response){
          if(response.estado !== undefined && response.estado.codigoEstado !== 200){
            $container.html('<p>No se han encontrado datos</p>');
            $container.find('spinner').remove();
            return false;
          }
          createCSVValoraciones(response.csv, 'detalle-valoraciones', 'det-valoraciones');
          constructTable(response.respuesta, $container, 'last');
          $container.find('spinner').remove();
        })
      }

      function getValoracionesRange(startDate, endDate, value){
        var $container = $('#table-valoraciones-range');

        $container.html('<div class="spinner"><div class="loader"></div></div>');

        var promise = $.ajax({
          type: 'POST',
          url: getPath+'mant/valoraciones',
          headers: {
            "Content-Type": "application/json",
            "Authorization": "Bearer "+getTkn,
            "Cache-Control": "no-cache",
          },
          data:  JSON.stringify(
            {
              inicio: startDate,
              fin: endDate,
              valor: value,
              id_cliente: getSession
            }
          ),
          dataType: 'json',
          contentType: 'application/json; charset=utf-8'
        }).done(function(response){
          if(response.estado !== undefined && response.estado.codigoEstado !== 200){
            $container.html('<p>No se han encontrado datos</p>');
            $container.find('spinner').remove();
            return false;
          }else{
            createCSVValoraciones(response.csv, 'detalle-valoraciones', 'det-valoraciones-range');
            constructTable(response.respuesta, $container, 'range');
            $container.find('spinner').remove();
          }
        })
      }

      function constructTable(respuesta, $container, tab){
        var html = '';

        html += '<table class="table table-striped table-bordered">';
        html += '<thead>';
        html += '<tr>';
        html += '<th>Diálogos valorados</th>';
        html += '<th>Valoraciones</th>';
        html += '<th></th>';
        html += '</tr>';
        html += '</thead>';
        html += '<tbody>';
        for(var i = 0; i < respuesta.length; i++){
          html += '<tr>';
          html += '<td>'+ respuesta[i].nodo_id +'</td>';
          html += '<td>'+ respuesta[i].total+'</td>';
          if(tab == 'last'){
            html += '<td><a href="#" data-nodo-id="'+ respuesta[i].nodo_id  +'" onClick="openResponseDetail(event);">Ver detalle</a></td>';
          }else{
            html += '<td><a href="#" data-nodo-id="'+ respuesta[i].nodo_id  +'" onClick="openResponseDetailRange(event);">Ver detalle</a></td>';
          }
          html += '</tr>';
        }
        html += '</tbody>'; 
        html += '</table>';

        $container.html(html);
      }

      $('#filter-valoraciones').on('change',function(event){
        var $item = $(event.currentTarget);
        getValoraciones(transversalData.startDate, transversalData.endDate, $item.val());
      });

      $('#filter-valoraciones-range').on('change',function(event){
        var $item = $(event.currentTarget);
        getValoracionesRange(transversalData.startDate, transversalData.endDate, $item.val());
      });

      function openResponseDetail(event){
        var $item = $(event.currentTarget),
            nodoId = $item.data('nodo-id'),
            $container = $('#table-valoraciones');
        
        $container.append('<div class="spinner"><div class="loader"></div></div>')

        $.ajax({
          type: 'POST',
          url: getPath+'mant/valoraciones_nodo',
          headers: {
            "Content-Type": "application/json",
            "Authorization": "Bearer "+getTkn,
            "Cache-Control": "no-cache",
          },
          data:  JSON.stringify(
            {
              inicio: transversalData.startDate,
              fin: transversalData.endDate,
              valor: $('#filter-valoraciones').val(),
              id_cliente: getSession,
              nodo: nodoId
            }
          ),
          dataType: 'json',
          contentType: 'application/json; charset=utf-8'
        }).done(function(response){
          if(response.estado !== undefined && response.estado.codigoEstado !== 200){
            $container.html('<p>No se han encontrado datos</p>')
            $container.find('.spinner').remove();
            return false;
          }
          $container.find('.spinner').remove();
          var html = '';

          html +='<div class="valoracion-screen fade in">';
          html +='<div class="valoracion-detail-holder">';
          html +='<h4>'+ nodoId +'</h4>';
          html +='<table class="table">';
          html +='<thead>';
          html +='<tr>';
          html +='<th>Pregunta hecha por el usuario</th>';
          html +='<th>Respuesta del asistente</th>';
          html +='<th>Comentario en la valoración</th>';
          html +='</tr>';
          html +='</thead>';
          html +='<tbody>';
          for(var i = 0; i < response.respuesta.length; i++){
            html += '<tr>';
            html += '<td>'+  response.respuesta[i].input +'</td>';
            html += '<td>';
            html += response.respuesta[i].output ? response.respuesta[i].output : '';
            html += '</td>';
            html += '<td>'+  response.respuesta[i].comentario +'</td>';
            html += '</tr>';
          }
          html +='</tbody>';
          html +='</table>';
          html +='<button button="button" onClick="closeValoracionDetail()">Cerrar</button>'
          html +='</div>';
          $container.append(html);
        });
      }

      function openResponseDetailRange(event){
        var $item = $(event.currentTarget),
            nodoId = $item.data('nodo-id'),
            $container = $('#table-valoraciones-range');
        
        $container.append('<div class="spinner"><div class="loader"></div></div>')

        $.ajax({
          type: 'POST',
          url: getPath+'mant/valoraciones_nodo',
          headers: {
            "Content-Type": "application/json",
            "Authorization": "Bearer "+getTkn,
            "Cache-Control": "no-cache",
          },
          data:  JSON.stringify(
            {
              inicio: transversalData.startDate,
              fin: transversalData.endDate,
              valor: $('#filter-valoraciones-range').val(),
              id_cliente: getSession,
              nodo: nodoId
            }
          ),
          dataType: 'json',
          contentType: 'application/json; charset=utf-8'
        }).done(function(response){
          if(response.estado !== undefined && response.estado.codigoEstado !== 200){
            $container.html('<p>No se han encontrado datos</p>')
            $container.find('.spinner').remove();
            return false;
          }

          $container.find('.spinner').remove();
          
          var html = '';

          html +='<div class="valoracion-screen fade in">';
          html +='<div class="valoracion-detail-holder">';
          html +='<h4>'+ nodoId +'</h4>';
          html +='<table class="table">';
          html +='<thead>';
          html +='<tr>';
          html +='<th>Pregunta hecha por el usuario</th>';
          html +='<th>Respuesta del asistente</th>';
          html +='<th>Comentario en la valoración</th>';
          html +='</tr>';
          html +='</thead>';
          html +='<tbody>';
          for(var i = 0; i < response.respuesta.length; i++){
            html += '<tr>';
            html += '<td>'+  response.respuesta[i].input +'</td>';
            html += '<td>';
            html += response.respuesta[i].output ? response.respuesta[i].output : '';
            html += '</td>';
            html += '<td>'+  response.respuesta[i].comentario +'</td>';
            html += '</tr>';
          }
          html +='</tbody>';
          html +='</table>';
          html +='<button button="button" onClick="closeValoracionDetail()">Cerrar</button>'
          html +='</div>';
          $container.append(html);
        });
      }

      function closeValoracionDetail(){
        $('.valoracion-screen').remove();
      }

      $('a[href="#by-range"]').on('shown.bs.tab', function (e) {
        getInteractions('valoraciones', g.toISOString().substring(0,10), d.toISOString().substring(0,10), getSession, 'chart_by_range');
        getValoracionesRange(g.toISOString().substring(0,10), d.toISOString().substring(0,10), $('#filter-valoraciones-range').val());
      })

      function initial(){
        if(hasToken){
          getInteractions('valoraciones', g.toISOString().substring(0,10), d.toISOString().substring(0,10), getSession, 'chart_div');
          getValoraciones(g.toISOString().substring(0,10), d.toISOString().substring(0,10), $('#filter-valoraciones').val());
        }else{
          setTimeout(()=>{
            initial();
          },300);
        }
      }

      initial();